<section>
  {{#if posts.length}}
      {{#each posts as |post|}}
      <li>
        {{> post-info post}}
      </li>
      {{/each}}
  {{/if}}
  <button type="submit" class="btn">+ New Post</button>
</section>

<script src="/javascript/add-post.js"></script>