<article>
  <h2 class="card-header">
    Edit Post
  </h2>
  <form class="edit-post-form card-body">
    <div>
        <label for="post-title" class="form-label">Title</label>
        <input name="post-title" type="text" value="{{post.title}}" class="form-input" />
        <label class="form-label" for="post-url">Content</label>
        <input name="post-url" type="text" value="{{post.post_url}}" class="form-input" />
    </div>
    <button type="submit" class="btn">Update post</button>
    <button type="click" class="btn delete-post-btn">Delete</button>
  </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>