<div class="col-12 col-md-4">
      <div class="card">
        <h3 class="card-header text-uppercase">Search By User</h3>
        <form id="user-form" class="card-body">
          <label class="form-label" for="username">Username</label>
          <input name="username" id="username" type="text" autofocus="true" class="form-input" />
          <button type="submit" class="btn">Get User</button>
        </form>
      </div>
</div>
